.doNotPrint{
    float: right;
    margin-bottom: 25px;
}
.width{
    width: 80%;
    margin-left: 10%;
}
.img-thumbnail{
    width: 100px;
    height: 100px;
}
@media print{
    .doNotPrint{ display: none !important; }
}